<ion-header>
  <ion-toolbar>
    <ion-title>
      Magri Shopping
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <p>Ici, Tous les Articles à vendre seront affichés !</p>
    <ul *ngFor="let article of Articles">
      <li>{{ article.nom}} - {{ article.prix }}</li>
    </ul>
    <!-- <button ion-button (click)="showDetails()">Details</button> -->
    <ion-button (click)="showDetails()">Details</ion-button>
  </div>
</ion-content>

<ion-footer>
  <p class="footer">Je suis le Pied de la Page !</p>
</ion-footer>
